data/Dalton_2020_shapefiles.zip
data/Glacial_Lakes_and_the_Champlain_Sea.geojson
data/Dalton_2020_shapefiles/1ka_0.91cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/1ka_0.91cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/1ka_0.91cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/1ka_0.91cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/2ka_2cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/2ka_2cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/2ka_2cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/2ka_2cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/3ka_3.2cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/3ka_3.2cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/3ka_3.2cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/3ka_3.2cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/4ka_4.5cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/4ka_4.5cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/4ka_4.5cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/4ka_4.5cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/5.5ka_6.3cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/5.5ka_6.3cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/5.5ka_6.3cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/5.5ka_6.3cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/5ka_5.71cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/5ka_5.71cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/5ka_5.71cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/5ka_5.71cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/6.5ka_7.3cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/6.5ka_7.3cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/6.5ka_7.3cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/6.5ka_7.3cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/6ka_6.8cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/6ka_6.8cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/6ka_6.8cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/6ka_6.8cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/7.2ka_8.1cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/7.2ka_8.1cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/7.2ka_8.1cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/7.2ka_8.1cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/7.6ka_8.5cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/7.6ka_8.5cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/7.6ka_8.5cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/7.6ka_8.5cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/7.7ka_8.7cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/7.7ka_8.7cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/7.7ka_8.7cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/7.7ka_8.7cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/7.8ka_8.8cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/7.8ka_8.8cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/7.8ka_8.8cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/7.8ka_8.8cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/7ka_7.9cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/7ka_7.9cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/7ka_7.9cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/7ka_7.9cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/8.5ka_9.6cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/8.5ka_9.6cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/8.5ka_9.6cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/8.5ka_9.6cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/8ka_9cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/8ka_9cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/8ka_9cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/8ka_9cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/9.5ka_10.9cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/9.5ka_10.9cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/9.5ka_10.9cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/9.5ka_10.9cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/9.6ka_11cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/9.6ka_11cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/9.6ka_11cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/9.6ka_11cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/9ka_10.3cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/9ka_10.3cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/9ka_10.3cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/9ka_10.3cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/10.5ka_12.1cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/10.5ka_12.1cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/10.5ka_12.1cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/10.5ka_12.1cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/10.25ka_11.8cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/10.25ka_11.8cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/10.25ka_11.8cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/10.25ka_11.8cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/10ka_11.5cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/10ka_11.5cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/10ka_11.5cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/10ka_11.5cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/11.5ka_13.5cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/11.5ka_13.5cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/11.5ka_13.5cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/11.5ka_13.5cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/11ka_12.8cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/11ka_12.8cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/11ka_12.8cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/11ka_12.8cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/12.5ka_14.9cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/12.5ka_14.9cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/12.5ka_14.9cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/12.5ka_14.9cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/12ka_14.2cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/12ka_14.2cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/12ka_14.2cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/12ka_14.2cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/13.5ka_16.1cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/13.5ka_16.1cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/13.5ka_16.1cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/13.5ka_16.1cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/13ka_15.5cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/13ka_15.5cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/13ka_15.5cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/13ka_15.5cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/14.5ka_17.4cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/14.5ka_17.4cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/14.5ka_17.4cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/14.5ka_17.4cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/14ka_16.8cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/14ka_16.8cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/14ka_16.8cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/14ka_16.8cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/15.5ka_18.7cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/15.5ka_18.7cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/15.5ka_18.7cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/15.5ka_18.7cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/15ka_18.0cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/15ka_18.0cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/15ka_18.0cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/15ka_18.0cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/16.5ka_19.5cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/16.5ka_19.5cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/16.5ka_19.5cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/16.5ka_19.5cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/16ka_19.3cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/16ka_19.3cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/16ka_19.3cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/16ka_19.3cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/17.5ka_21.1cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/17.5ka_21.1cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/17.5ka_21.1cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/17.5ka_21.1cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/17ka_20.5cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/17ka_20.5cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/17ka_20.5cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/17ka_20.5cal_Dalton_et_al_2020_QSR.shx
data/Dalton_2020_shapefiles/18ka_22.1cal_Dalton_et_al_2020_QSR.dbf
data/Dalton_2020_shapefiles/18ka_22.1cal_Dalton_et_al_2020_QSR.prj
data/Dalton_2020_shapefiles/18ka_22.1cal_Dalton_et_al_2020_QSR.shp
data/Dalton_2020_shapefiles/18ka_22.1cal_Dalton_et_al_2020_QSR.shx
img/beachgrass.jpg
img/beachgrass2.jpg
img/beachheather.jpg
img/beachpea.jpg
data/UML_2nd_Shore_10m_resolution.json
data/UML_Shoreline_10m_resolution-20240215T184906Z-001.zip
data/UML_Shoreline_10m_resolution.json
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_res_smooth50m.cpg
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_res_smooth50m.dbf
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_res_smooth50m.prj
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_res_smooth50m.sbn
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_res_smooth50m.sbx
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_res_smooth50m.shp
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_res_smooth50m.shp.SUNY-HD001004.8836.12432.sr.lock
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_res_smooth50m.shp.xml
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_res_smooth50m.shx
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_resolution.cpg
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_resolution.dbf
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_resolution.prj
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_resolution.sbn
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_resolution.sbx
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_resolution.shp
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_resolution.shp.xml
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_2nd_Shore_10m_resolution.shx
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_res_smooth50m.cpg
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_res_smooth50m.dbf
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_res_smooth50m.prj
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_res_smooth50m.sbn
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_res_smooth50m.sbx
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_res_smooth50m.shp
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_res_smooth50m.shp.SUNY-HD001004.8836.12432.sr.lock
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_res_smooth50m.shp.xml
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_res_smooth50m.shx
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_resolution.CPG
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_resolution.dbf
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_resolution.prj
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_resolution.sbn
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_resolution.sbx
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_resolution.shp
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_resolution.shp.SUNY-HD001004.8836.12432.sr.lock
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_resolution.shp.xml
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_10m_resolution.shx
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_NENY_2023_10_04.cpg
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_NENY_2023_10_04.dbf
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_NENY_2023_10_04.prj
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_NENY_2023_10_04.shp.xml
data/UML_Shoreline_10m_resolution-20240215T184906Z-001/UML_Shoreline_10m_resolution/UML_Shoreline_NENY_2023_10_04.shx
img/1964to2003_0000_2003.png
img/1964to2003_0001_1964.png
img/katekruesi_beachgrass.jpg
img/katekruesi_beachheater.jpg
img/katekruesi_beachpea.jpg
